h1{
      font-size:80px;
      color:purple;
      font-style:italic;
}
#anakin{
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
   filter: grayscale(50%);
}
body {
    background-color: Red;
}

h1 {
    background-color: #00ff00;
}

p {
    background-color: rgb(255,0,255);
}
